<html>

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet" />
    <title>I love this game</title>
</head>

<body style="width:410px;font-family:Chewy,cursive">
    <h2 id="myId" style="background-color:darkblue;color:white">İ s t a t i s t i k l e r</h2>
    <p>
        <h3 style="background-color:red;color:white">En iyi takımlar</h3>
        <p>NBA tarihinde tüm zamanların en iyi takımları </p>
        <ul>
            <b>
                <li>bulls</li>
            </b>
            <b>
                <li>celtics</li>
            </b>
            <b>
                <li>lakers</li>
            </b>
        </ul>
    </p>
    <p>
        <h3 style="background-color:green;color:white">En iyi oyuncular</h3>
        <p>NBA tarihinin bugüne kadar gelmiş geçmiş en iyi oyuncuları</p>
        <div class="player-card" style="background-color:lightgray">
            <a href="http://www.espn.com/nba/player/_/id/3975">
                <div class="player-name">sitivin köri</div>
            </a>
            <p>
                <img class="player-photo" src="curry.gif" />
            </p>
            <p>
                <i class="heigth">190cm</i>
            </p>
            <p>
                <i class="bio">benzersiz top tekniği, yüksek şut yüzdesi, sınır tanımaz üçlükleri...</i>
            </p>
            <p> </p>
        </div>
        <div class="player-card" style="background-color:lightgray">
            <a href="http://www.espn.com/nba/player/_/id/1966">
                <div class="player-name">löbron ceyms</div>
            </a>
            <p>
                <img class="player-photo" src="lebron.gif" />
            </p>
            <p>
                <i class="heigth">206cm</i>
            </p>
            <p>
                <i class="bio">çok güçlü, ani hızlanma, meydan okuma, istatistikleri alt üst etme...</i>
            </p>
            <p> </p>
        </div>
        <div class="player-card" style="background-color:lightgray">
            <a href="http://www.espn.com/nba/player/_/id/2384">
                <div class="player-name">divayt hauvırd</div>
            </a>
            <p>
                <img class="player-photo" src="howard.gif" />
            </p>
            <p>
                <i class="heigth">206cm</i>
            </p>
            <p>
                <i class="bio">o boyla o fudamental hareketleri yapabiliyor olmak, oyun zekası...</i>
            </p>
            <p> </p>
        </div>
    </p>
</body>

</html>